asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.1
gunicorn==26.2.0
idna==3.19
pillow==12.3.0
python-decouple==3.8
requests==2.34.2
resend==2.43.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
